<label>Server Name</label>
<!--<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">-->

<!--React to events in both directions.-->
<!--Important note: For two way binding to work, you need to enable
                    the ngModel directive. This is done by adding the
                    FormsModule to the imports[] array in the AppModule.
                    You also need to import the @angular/forms in the
                    app.module.ts file.
-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!--Two way binding to fetch input data.-->
<!--<p>{{ serverName }}</p>-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!--All Forms of Databinding: Event binding to listen to the click-->
<!--All Forms of Databinding: Property Binding to enable this button-->
<!--
  You can bind to all the events made available by the HTML attribute
  you are placing event binding on.
 -->
 <p *ngIf="serverCreated">Server was created, server name is  {{ serverName }}</p>
<!--<p>{{ serverCreationStatus }}</p>-->
<!--All Forms of Databinding: String interpolation to output data.-->

<app-server></app-server>
<app-server></app-server>
