<label>Server Name</label>
<!--<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">-->

<!--React to events in both directions.-->
<input
type="text"
class="form-control"
[(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!--
  You can bind to all the events made available by the HTML attribute
  you are placing event binding on.
 -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
